asgiref==3.8.1
certifi==2025.1.31
charset-normalizer==3.4.1
Django==5.1.6
django-debug-toolbar==5.0.1
django-filter==25.1
django-rest-framework==0.1.0
django-taggit==6.1.0
djangorestframework==3.15.2
djangorestframework_simplejwt==5.5.0
idna==3.10
kavenegar==1.1.2
pillow==11.1.0
PyJWT==2.9.0
requests==2.32.3
setuptools==75.8.0
sqlparse==0.5.3
tzdata==2025.1
urllib3==2.3.0
uuid==1.30
wheel==0.45.1
